#wrap{
    width: 600px;
    height: 600px;
}
.title{
    font-size: 25px;
}
.wrapper{
    padding-top: 70px;
    text-align: center;
    width: 550px;
    height: 280px;
    border-radius: 5px;
    border-style: dashed;
    border-width: 3px;
}