<div>
  <app-sidebar></app-sidebar>
</div>

<div class="container-fluid  m-0">
    <table class="table">
        <thead>
          <h4 class="text-center">My Algorithms</h4>
        </thead>
        <tbody>
          <tr>
            <td>First Algorithm</td>
            <td> <button type="button" class="btn btn-primary">View</button></td>
            <td><button type="button" class="btn btn-outline-primary">Edit</button></td>
            <td><button type="button" class="btn btn-dark"><i class="fa-solid fa-file-pdf"></i></button></td>
          </tr>
          <tr class="table-group-divider">
            <td>Second Algorithm</td>
            <td> <button type="button" class="btn btn-primary">View</button></td>
            <td><button type="button" class="btn btn-outline-primary">Edit</button></td>
            <td><button type="button" class="btn btn-dark"><i class="fa-solid fa-file-pdf"></i></button></td>
          </tr>
          <tr class="table-group-divider">
            <td>Third Algorithm</td>
            <td> <button type="button" class="btn btn-primary">View</button></td>
            <td><button type="button" class="btn btn-outline-primary">Edit</button></td>
            <td><button type="button" class="btn btn-dark"><i class="fa-solid fa-file-pdf"></i></button></td>
          </tr>
          <tr class="table-group-divider"></tr>
        </tbody>
      </table>
</div>