<app-sidebar></app-sidebar>
<div class="container row">
    <div class="container-fluid my-5 pb-3" id="wrap">
        <form>
            <h2 class="text-center py-3">My Account</h2>
            <hr>
            <div class="form-group px-4 pb-2" >
                <label for="username" class="col-form-label">User Name: </label>
                <input class="form-control" value=" " id="username" type="text" disabled>
            </div>
            <br>
            <div class="form-group px-4 pb-2">
                <label for="email" class="col-form-label">E-mail: </label>
                <input class="form-control" id="email" value="eric.estrada@gmail.com" type="text" disabled>
            </div>
            <br>
            <div class="form-group px-4 pb-2">
                <label for="charge" class="col-form-label">Charge: </label>
                <input class="form-control" id="charge" value="Oncologo" type="text" disabled>
            </div>
            <br>
            <div class="form-group px-4 pb-2">
                <label for="password" class="col-form-label">Password: </label>
                <input class="form-control" id="password" value="12345678" type="password" name="password" disabled>
            </div>
            <br>
            <div class="text-center form-group">
                <button class="btn btn-primary" type="button">Edit</button>
            </div>
        </form>
    </div>
</div>
